<mat-toolbar class="nav-bar" color="primary">
  <span class="home-logo" routerLink="/home">
    <object type="image/svg+xml" data="assets/intently.svg" class="logo"></object> Intently
  </span>
  <span class="spacer"></span>
  <a class="signup-link" routerLink="/login">Log In</a>
</mat-toolbar>

<main class="login" *ngIf="passwordForm">
  <div class="login-card">
    <mat-card *ngIf="!loggedIn">
      <div *ngIf="!isReset" class="card-container">
          <mat-card-title>Reset Your Password</mat-card-title>
          <div class="form-error" *ngIf="isError">
            Your password reset did not work. Please try again.
          </div>
          <div class="form-container">
            <form class="login-container" [formGroup]="passwordForm">
              <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="New Password">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="verifyPassword" type="password" matInput placeholder="Verify New Password">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="doResetPassword()">Reset Password</button>
            </form>
          </div>
      </div>
      <div *ngIf="isReset" class="is-reset">
        <h1>Success</h1>
        <mat-icon class="checkmark">check_circle_outline</mat-icon>
        <p>Your password has been successfully reset.</p>
        <button mat-raised-button color="primary" routerLink="/login">Login Now</button>
      </div>
    </mat-card>
  </div>
</main>
