<mat-toolbar class="nav-bar" color="primary">
  <span class="home-logo" routerLink="/home">
    <object type="image/svg+xml" data="assets/intently.svg" class="logo"></object> Intently
  </span>
  <span class="spacer"></span>
  <a class="signup-link" routerLink="/signup">Sign Up</a>
</mat-toolbar>
<main class="login" *ngIf="loginForm">
  <!-- <h1>Daily Matrix</h1> -->
  <div class="login-card">
    <mat-card *ngIf="!loggedIn">
      <div class="card-container">
          <mat-card-title>Log in to Intently</mat-card-title>
          <div class="form-error" *ngIf="isError">
            Your email address or password are not correct. Please try again.
          </div>
          <div class="form-container">
            <form class="login-container" [formGroup]="loginForm">
              <mat-form-field>
                <input formControlName="email" type="email" matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="Password">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="tryLogin()">Login</button>
              <button mat-button (click)="openResetPasswordDialog()" class="reset-password-btn" color="accent">Forgot password?</button>
            </form>
          </div>
      </div>
    </mat-card>
  </div>
</main>
