<mat-toolbar class="nav-bar" color="primary">
  <span class="home-logo" routerLink="/home">
    <object type="image/svg+xml" data="assets/intently.svg" class="logo"></object> Intently
  </span>
  <span class="spacer"></span>
  <a class="signup-link" routerLink="/login">Log In</a>
</mat-toolbar>
<main class="login" *ngIf="signupForm">
  <!-- <h1>Daily Matrix</h1> -->
  <div class="login-card">
    <mat-card>
      <div class="card-container">
        <mat-card-title>Sign Up for Intently</mat-card-title>
        <div class="form-container">
          <form class="login-container" [formGroup]="signupForm">
            <!-- <mat-form-field>
              <input  formControlName="name" type="text" matInput placeholder="Name">
            </mat-form-field> -->
            <mat-form-field>
              <input  formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="tryRegister()">Sign Up</button>
          </form>
        </div>
        <p>Already have an account? <a routerLink="/login">Log In</a></p>
      </div>
      <!-- <div class="social-signup">
        <button mat-raised-button color="primary" (click)="tryRegister()">Signup with Google</button>
      </div> -->
    </mat-card>
  </div>
  <div class="promo">
    <div class="about">
      <div class="about-item">
        <h2>Set Daily Intentions</h2>
        <p>Intently assists you in living each and every day to the fullest of your intent.</p>
      </div>
      <div class="about-item">
        <h2>Encouraging Messages</h2>
        <p>Receive encouraging messages throughout the day to stay on track with your intentions.</p>
      </div>
      <div class="about-item">
        <h2>Review Your Progress</h2>
        <p>The calendar list allows you to easily review your intentions from the current and previous months.</p>
      </div>
    </div>
    <div class="crop-box">
      <img src="http://d2v1abrr38shd3.cloudfront.net/intently_iphone1.png" alt="Intently app preview on iPhone">
    </div>
  </div>
  <div class="promo">
    <div class="crop-box">
      <img src="http://d2v1abrr38shd3.cloudfront.net/intently_goals_iphone+(1).png" alt="Intently app preview on iPhone">
    </div>
    <div class="about">
      <div class="about-item">
        <h2>Set Long-Term Goals</h2>
        <p>With Intently, you can set long-term goals and track your progress.</p>
      </div>
      <div class="about-item">
        <h2>Group Quarterly Goals</h2>
        <p>Intently helps you stay focused on your priorities by grouping goals by quarter.</p>
      </div>
      <div class="about-item">
        <h2>Update Your Progress</h2>
        <p>Feel the satisfaction of marking your goals complete when you finish them.</p>
      </div>
    </div>
  </div>
  <div class="cta">
    <h2>Start Living Intentionally Today</h2>
    <p>Sign up with Intently today to stay on top of your goals and intentions.</p>
    <button mat-raised-button color="accent" (click)="scrollTop()">Get Started - It's Free!</button>
  </div>
</main>