main {
  // width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}
.login-card {
  margin-top: 4rem;
  width: 376px;
}
.login-container {
  display: flex;
  flex-direction: column;
}
.card-container {
  padding: 1rem;
}
.form-container {
  margin: 1rem 0 0 0;
}
.form-error {
  display: block;
  color: #f44336;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 1rem;
}
.social-signup {
  margin-top: 1rem;
  width: 100%;
}
.nav-bar {
  height: 50px;
}
.signup-link {
  margin-right: 1rem;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.promo {
  display: flex;
  justify-content: center;
  margin: 4rem 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.crop-box {
  display: inline-block;
  height: 601px;
  width: 300px;
  overflow: hidden;
}
.crop-box > img {
  width: 100%;
}
.about {
  margin-right: 2rem;
  max-width: 450px;
}
.about:nth-child(even) {
  margin-left: 2rem;
  margin-right: 0;
}
.about-item {
  margin-bottom: 2.4rem;
}
.about-item > h2, .cta > h2 {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.about-item > p, .cta > p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 4rem 0;
}
.cta > button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.2rem;
}
@media(max-width: 800px) {
  .login-card {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  .promo {
    flex-direction: column;
    margin: 1rem 0;
  }
  .promo:nth-child(even) {
    flex-direction: column-reverse;
  }
  .about {
    width: 400px;
    margin: 1rem 0 !important;
  }
  .about > .about-item:last-child {
    margin-bottom: 1rem;
  }
  .crop-box {
    margin-bottom: 1rem;
  }
  .cta {
    text-align: center;
    width: 400px;
    border: 1px solid #d3d3d3;
    padding: 1rem;
  }
}
@media(max-width: 500px) {
  .about {
    width: 278px;
    margin: 1rem 0 !important;
  }
  .cta {
    text-align: center;
    width: 278px;
    border: 1px solid #d3d3d3;
    padding: 1rem;
  }
}