.nav-bar {
  height: 50px
}
.spacer {
  flex: 1 1 auto;
}
.admin-container {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}
.user-form-card, .user-list-card {
  width: 400px;
  margin-top: 1rem;
}
.user-form-container {
  width: 375px;
  display: flex;
  flex-direction: column;
}
.divider {
  margin: 0 1rem;
}